@media (max-width:960px){
    .wrapper{
        width: 728px;
    }
    // .header{
    //     height: 800px;
    // }
    .header-menu{
        flex-direction: column;
        align-items: flex-start;
    }
    .logo{
        margin-bottom: 35px;
    }
    .header-overlay{
        height: 400px;
        margin: 80px 0 0 0;
    }
    .menu a{
        margin: 0 46px 0 0;
    }
    .header-text{
        width: 270px;
        h1{
            font-size: 48px;
        }
        h2{
            font-size: 24px;
        }
        h3{
            font-size: 16px;
        }
    }
    .about {
        li{
            margin: 0 36px;
        }
        h1{
            font-size: 24px;
           
        }
        h2{
            font-size: 16px;
            
        }
        h3{
            font-size: 18px;
            
        }
    
    }
    .testiomonial{
        // position: relative;
        width: 315px;
        height: 294px;
    }
    .blog{
        width: 315px;
        height: 294px;
    }
    .arrows{
        width: 768px;
    }
    .article-low-text{
        ul{
            li{
                width: 204px;
            }
        }
    }
    .footter{
        height:200px ;
        background-image: url(../img/footter_bg-780.png);
    }
    .menu3 {
        padding-top: 50px;

        li{
            &:last-child {
                margin-top: 40px;
                align-items: center;
                font-size: 12px;
             }
        }
    }
}
@media (max-width:768px){
    .wrapper{
        width: 440px;
    }
    .header-menu{
        align-items: center;
    }
    .menu {
        li:not(:first-child){
        display: none;
        }
        a{
            margin: 0 auto;
        }
    }
    .header-text{
        width: 200px;
        h1{
            font-size: 36px;
        }
        h2{
            font-size: 18px;
        }
        h3{
            display: none;
        }
    }
    .iphone{
        top: -17px;
        background-image: url(../img/Iphone2.png);
        height: 304px;
        width: 192px;
    }
    .header-overlay{
        height: 240px;
    }
    .header-about{
        height: auto;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        background-image: linear-gradient(#755083, #322539);
    }
    .about {
        padding-bottom: 40px;
        ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 78px;
        }
        li{
            margin: 0 5px 0 60px;
        }
        h1{
            font-size: 24px;
        }
        h2{
            
            font-size: 16px;
        }
        h3{
            font-size: 18px;
        }
    
        .image{
            position: absolute;
            transform: translate(-54px, 6px);
        }
        a{
           &:hover{ text-shadow: 0 0 14px #ffffff;
            cursor: pointer; 
           }
        }
    }
    .testiomonial{
        width: 416px;
        h1{    
            font-size: 30px;
            padding: 30px 0 0 60px;
        }
        h2{
            font-size: 16px;
            padding: 16px 42px 0 60px;
        }
        img{
            
            left: -23px;
        }
        
    }
    .blog{
        width: 315px;
        height: 294px;
    }
    .arrows{
        width: 480px;
    }
    .article-up{ 
        background-color: #f9f9f9;
        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .testimonial-blog{
            .wrapper{
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            border-bottom: 1px solid #e6e6e6;
        }
    }
    .logos{
        background-image: url(../img/logos-420.png);
        height: 154px;
    }
    .article-low-text{
        padding-top: 90px;
        ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            li{
                width: 278px;
                margin-bottom: 60px;
            }
        }
       
        h1{
            font-size: 16px;
        }
        h2{
            font-size: 16px;
        }
        h3{    
            font-size: 48px;
        }
        h4{    
            font-family: 'LeagueGothic';
            font-size: 30px;
            color: #454545;
            text-align: left;
            padding: 0 0 8px 0;
            text-transform: uppercase;
        }
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .menu2{
        li{
        margin: 0 6px;
    }}
    .menu3{
        padding: 0;
    }
    
}
@media (max-width:480px){
    .wrapper{
        width: 280px;
    }
    .header-menu{
        align-items: center;
    }
    .menu {
        li:not(:first-child){
        display: none;}
        a{
            margin: 0 auto;
        }
    }
    .iphone{
        display: none;
    }
    .header-align{
        flex-direction: column;
        align-items: center;
    }
    .header-text{
        width: 200px;
    }
    .header-overlay{
        background-image: none;
        
    }
    .arrows{
        width: 320px;
    }
    .header-about{
        padding-bottom: 90px;
        height: auto;
    }
    .about {
        ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    }
    .testiomonial{
        width: 280px;
        h1{    
            font-size: 30px;
            padding: 30px 0 0 60px;
        }
        h2{
            font-size: 16px;
            padding: 16px 42px 0 60px;
        }
        img{
            
            left: -23px;
        }
        
    }
    .blog{
        width: 280px;
        height: 294px;
    }
    .logos{
        background-image: url(../img/logos-320.png);
        height: 330px;
    }

    .menu2{
        display: none;
    }
    .article-low{
        display: none;
    }
}
@media (max-width:320px){
    .wrapper{
        width: 220px;
    }
    .arrows{
        width: 230px;
    }
    .testiomonial{
        width: 230px;
        h1{    
            font-size: 30px;
            padding: 30px 0 0 60px;
        }
        h2{
            font-size: 16px;
            padding: 16px 42px 0 60px;
        }
        img{
            
            left: -23px;
        }
        
    }
    .blog{
        width: 230px;
        height: 294px;
    }
}
//     .header-menu{
//         align-items: center;
//     }
//     .menu {
//         li:not(:first-child){
//         display: none;}
//         a{
//             margin: 0 auto;
//         }
//     }
//     .iphone{
//         display: none;
//     }
//     .header-align{
//         flex-direction: column;
//         align-items: center;
//     }
//     .header-text{
//         width: 200px;
//     }
//     .header-overlay{
//         background-image: none;
        
//     }
// }
// .logos{
//     background-image: url(../img/logos-320.png);
//     height: 423px;
// }
// .menu2{
//     display: none;
// }
// .article-low{
//     display: none;
// }}
